src/conf/xml-resources/web-service-references/mtlistener/wsdl/localhost_6868/mtlistener.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><xs:schema xmlns:tns="http://mtws/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://mtws/xsd">

<xs:element name="mtRequest" type="tns:mtRequest"></xs:element>

<xs:element name="mtRequestResponse" type="tns:mtRequestResponse"></xs:element>

<xs:complexType name="mtRequest">
<xs:sequence>
<xs:element name="username" type="xs:string" form="qualified" minOccurs="0"></xs:element>
<xs:element name="password" type="xs:string" form="qualified" minOccurs="0"></xs:element>
<xs:element name="source" type="xs:string" form="qualified" minOccurs="0"></xs:element>
<xs:element name="dest" type="xs:string" form="qualified" minOccurs="0"></xs:element>
<xs:element name="content" type="xs:string" form="qualified" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mtRequestResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>